<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" restartOnExternalChanges="false" />
  </configSections>
  <appSettings>
    <add key="Environment" value="Prod" />
    <!-- 
       ## Start SDK Config File Information ##
         @ Use this file sample to seperate your test config data verses your Application data.
         @ The samples below will allow you to pick which Environment you wish to use.
         @ Reminder: Make sure to change the <add key="SDKConfig" value =   path in your solution file [App.config] to the folder properplacement.
         @ 
    -->
    
    <!-- Local QA -->
    <add key="TenantId_QA" value =""/>
    <add key="MasterCatalogId_QA" value ="1"/>
    <add key="SiteId_QA" value="1"/>
    <add key="AppId_QA" value="" />
    <add key="BaseAuthAppUrl_QA" value="http://localhost" />
    <add key="SharedSecret_QA" value="" />
    
    <!-- PROD -->
    <add key="TenantId_Prod" value =""/>
    <add key="MasterCatalogId_Prod" value ="1"/>
    <add key="SiteId_Prod" value="1"/>
    <add key="AppId_Prod" value="" />
    <add key="BaseAuthAppUrl_Prod" value="https://home.mozu.com" />
    <add key="SharedSecret_Prod" value="" />

    <!-- ## End SDK Information ##-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>