<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" restartOnExternalChanges="false" />
  </configSections>
  <appSettings>
    <add key="Environment" value="Prod" />

    <!-- Production -->
    <add key="TenantId_Prod" value =""/>
    <add key="MasterCatalogId_Prod" value =""/>
    <add key="SiteId_Prod" value=""/>
    <add key="AppId_Prod" value="" />
    <add key="BaseAuthAppUrl_Prod" value="https://home.mozu.com" />
    <add key="SharedSecret_Prod" value="" />
    <add key="devOwnerId_Prod" value="" />
    <add key="devOwnerEmail_Prod" value="" />
    <add key="devOwnerPassword_Prod" value="" />
   
    <!-- ## End SDK Information ##-->
   </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>